<%= render 'users/header', user:@user , book:@book %>


<h1>welcome to
	<span class = "glyphicon glyphicon-book"></span>
	Bookers !!
</h1>

<p> In
	<span class = "glyphicon glyphicon-book"></span>
	Bookers,
</p>
<p>you can share and exchange your opinions , inpressions , and emotions<br>
about varioius books!</p>

<div class="btn-group-vertical">
	<%= link_to "Log in", new_user_session_path, class:"btn btn-primary" %>
	<%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary" %>
</div>

<br>
<br>

<p> CopyRight Infratop.inc </p>